{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="pagetitle">{% block title %}{{ title }}{% endblock %}</h1>
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<form method="post" class="form-inline">{% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <button class="btn btn-primary" type="submit">{% trans 'Reset my password' %}</button>
</form>

{% endblock %}
