{% extends "achieve/sidebar.html" %}
{% load achieve_extras %}
{% block title %}{% if task %}{{ task.title }}{% else %}Add new task{% endif %}{% endblock title %}
{% block content %}
<form action="" method="POST" class="task-edit-form form-horizontal">
    {% csrf_token %}
    {{ form.non_field_errors }}{{ form.done.errors }}{{ form.title.errors }}
    <h1 class="pagetitle">
        <div class="task-title task-title-edit">
            {{ form.done }}{{ form.title }}
        </div>
    </h1>
    <div class="form-group">{{ form.priority.errors }}<label for="{{ form.priority.id_for_label }}" class="col-sm-2 control-label">{{ form.priority.label }}</label><div class="col-sm-10 form-inline">{{ form.priority }}</div></div>
    <div class="form-group">{{ form.due.errors }}<label for="{{ form.due.id_for_label }}" class="col-sm-2 control-label">{{ form.due.label }}</label><div class="col-sm-10 form-inline">{{ form.due }}</div></div>
    <div class="form-group">{{ form.reminder.errors }}<label for="{{ form.reminder.id_for_label }}" class="col-sm-2 control-label">{{ form.reminder.label }}</label><div class="col-sm-10 form-inline">{{ form.reminder }}
            <button type="button" class="btn btn-default btn-xs copy-datetime" title="Copy from due date" data-from="{{ form.due.id_for_label }}" data-to="{{ form.reminder.id_for_label }}"><i class="fa fa-copy"></i></button></div></div>
    <div class="form-group">{{ form.folder.errors }}<label for="{{ form.folder.id_for_label }}" class="col-sm-2 control-label">{{ form.folder.label }}</label><div class="col-sm-10 form-inline">{{ form.folder }}</div></div>
    <div class="form-group">{{ form.project.errors }}<label for="{{ form.project.id_for_label }}" class="col-sm-2 control-label">{{ form.project.label }}</label><div class="col-sm-10 form-inline">{{ form.project }}</div></div>
    <div class="form-group">{{ form.tags.errors }}<label for="{{ form.tags.id_for_label }}" class="col-sm-2 control-label">{{ form.tags.label }}</label><div class="col-sm-10 form-inline">{{ form.tags }}</div></div>
    <div class="form-group">{{ form.description.errors }}<label for="{{ form.description.id_for_label }}" class="col-sm-2 control-label">{{ form.description.label }}</label><div class="col-sm-10 form-inline">{{ form.description }}</div></div>
    <div class="form-group">{{ form.resolution.errors }}<label for="{{ form.resolution.id_for_label }}" class="col-sm-2 control-label">{{ form.resolution.label }}</label><div class="col-sm-10 form-inline">{{ form.resolution }}</div></div>
    <div class="form-group">{{ form.pinned.errors }}<div class="col-sm-offset-2 col-sm-10"><div class="checkbox"><label for="{{ form.pinned.id_for_label }}">{{ form.pinned }} {{ form.pinned.label }}</label></div></div></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button name="action" value="save" type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
            {% if mode == "edit" %}
            <button name="action" value="show" type="submit" class="btn btn-default"><i class="fa fa-times"></i> Cancel editing</button>
            {% endif %}
        </div>
    </div>
</form>
{% endblock content %}
